<?eclipse version="3.0"?>
<plugin>
    <extension point="com.ibm.wsspi.extension.applicationserver-startup">
        <components>
            <component startup="5000"
                       type="Arit_ClassLoaderMonitor"
                       platform="distributed,os400,zos"
                       processType="Servant"/>
        </components>
    </extension>
    <extension point="com.ibm.wsspi.extension.server-components">
        <components>
            <component class="com.googlecode.arit.websphere.ClassLoaderMonitor"
                       name="Arit_ClassLoaderMonitor"
                       platform="distributed,os400,zos"
                       processType="Servant"/>
       </components>
    </extension>
</plugin>
